
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons> 
        <ion-back-button defaultHref="/" class="ion-href-color"></ion-back-button>
      </ion-buttons>
      <ion-title>About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h5><span class="ion-label">Full Name:</span> <span class="ion-name"> Aishwarya Shrestha</span></h5>
    <h5><span class="ion-label">Student ID:</span> <span class="ion-name"> 301138662</span></h5>
  </ion-content>
</ion-content>
