.ion {
    &-title {
        font-size: 28px;
        text-align: center;
    }

    &-margin-top-btm {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    &-flex {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: -20px;
    }

    &-label-color {
        font-weight: 500;
        width: 50%;
    }
    
    &-input-bgcolor {
        background: #efefefd5;
        width: 50%;
        text-align: center;
        border-radius: 10px;
    }

    &-width {
        width: 100%;
        background-color: #9dc183;
        border-radius: 10px;
        color: #fff;
    }
    
}
