
 <ion-content class="ion-padding">
  <ion-header [translucent]="true" collapse="condense" class="ion-margin-top-btm">
    <ion-toolbar>
      <ion-title size="large" class="ion-title">Pay Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

 
    <ion-item-group>
      <ion-item class="ion-flex" lines="none">
        <ion-label class="ion-label-color">Number of Hours:</ion-label>
        <ion-input class="ion-input-bgcolor" type="tel" maxlength="2"></ion-input>
      </ion-item>

      <ion-item class="ion-flex" lines="none">
        <ion-label class="ion-label-color">Hourly Rate:</ion-label>
        <ion-input class="ion-input-bgcolor" type="tel" maxlength="2"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-button class="ion-width" color="#9dc183">Calculate</ion-button>


    <ion-item-group>
      <ion-item class="ion-flex" lines="none">
        <ion-label class="ion-label-color">Regular Pay:</ion-label>
        <ion-input class="ion-input-bgcolor" type="number"></ion-input>
      </ion-item>

      <ion-item class="ion-flex" lines="none">
        <ion-label class="ion-label-color">Overtime Pay:</ion-label>
        <ion-input class="ion-input-bgcolor" type="number"></ion-input>
      </ion-item>

        <ion-item class="ion-flex" lines="none">
          <ion-label class="ion-label-color">Total Pay:</ion-label>
          <ion-input class="ion-input-bgcolor" type="number"></ion-input>
        </ion-item>
  
        <ion-item class="ion-flex" lines="none">
          <ion-label class="ion-label-color">Tax:</ion-label>
          <ion-input class="ion-input-bgcolor" type="number"></ion-input>
        </ion-item>

        <ion-item class="ion-flex" lines="none">
          <ion-label class="ion-label-color">Tax:</ion-label>
          <ion-input class="ion-input-bgcolor" type="number"></ion-input>
        </ion-item>

          
        <ion-item class="ion-flex" lines="none">
          <ion-label class="ion-label-color">Net Income:</ion-label>
          <ion-input class="ion-input-bgcolor" type="number"></ion-input>
        </ion-item>
      </ion-item-group>
</ion-content>

